.hide {
    display: none;
  }
  .inner-addon .far, .inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
  }
  .left-addon .far, .left-addon .fas  { left:  0px; }
  .right-addon .far, .right-addon .fas { right: 0px; }
  
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }