.box{
    width: 46px;
    height: 31px;
    border: 1px solid #00000052;
    border-radius: 5px;
    display: inline-block
}
.content{
    width: 46px;
    height: 31px;
    display: inline-block;
}
.search-icon{
    margin-left: 2px;
    padding-top: 6px;
    font-size: 26px;
    color: blue;
}
.search{
    width: 14vw;
    height: 28px;
    border-radius: 14px;
    border: 2px solid green;
}
[type=search] {
    /* outline-offset: -2px; */
    -webkit-appearance: auto;
}
.searchbox1{
    font-size: 1.3rem;
    /* background-color: aqua; */
    height: 27px;
    width: 38px;
    margin-top: 2px;
}
td{
    color: aliceblue;
    border-radius: 10px;
}
label{
    color: aliceblue;
}
